<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.finance.dao.CashFlowInfoDao">
	<resultMap id="BaseResultMap"
		type="com.ams.finance.entity.CashFlowInfo">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="infoType" property="infotype"
			jdbcType="INTEGER" />
		<result column="money" property="money" jdbcType="INTEGER" />
		<result column="description" property="description"
			jdbcType="VARCHAR" />
		<result column="proposerId" property="proposerid"
			jdbcType="VARCHAR" />
		<result column="applicateTime" property="applicatetime"
			jdbcType="VARCHAR" />
		<result column="auditorId" property="auditorid"
			jdbcType="VARCHAR" />
		<result column="delFlag" property="delflag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, infoType, money, description, proposerId, applicateTime, auditorId,
		delFlag
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cash_flow_info
		where Id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from cash_flow_info
		where Id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.ams.finance.entity.CashFlowInfo">
		insert into cash_flow_info (Id, infoType, money,
		description, proposerId, applicateTime,
		auditorId, delFlag)
		values (#{id,jdbcType=VARCHAR}, #{infotype,jdbcType=INTEGER},
		#{money,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR}, #{proposerid,jdbcType=VARCHAR}, #{applicatetime,jdbcType=VARCHAR},
		#{auditorid,jdbcType=VARCHAR}, #{delflag,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.ams.finance.entity.CashFlowInfo">
		insert into cash_flow_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="infotype != null">
				infoType,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="proposerid != null">
				proposerId,
			</if>
			<if test="applicatetime != null">
				applicateTime,
			</if>
			<if test="auditorid != null">
				auditorId,
			</if>
			<if test="delflag != null">
				delFlag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="infotype != null">
				#{infotype,jdbcType=INTEGER},
			</if>
			<if test="money != null">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="proposerid != null">
				#{proposerid,jdbcType=VARCHAR},
			</if>
			<if test="applicatetime != null">
				#{applicatetime,jdbcType=VARCHAR},
			</if>
			<if test="auditorid != null">
				#{auditorid,jdbcType=VARCHAR},
			</if>
			<if test="delflag != null">
				#{delflag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ams.finance.entity.CashFlowInfo">
		update cash_flow_info
		<set>
			<if test="infotype != null">
				infoType = #{infotype,jdbcType=INTEGER},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="proposerid != null">
				proposerId = #{proposerid,jdbcType=VARCHAR},
			</if>
			<if test="applicatetime != null">
				applicateTime = #{applicatetime,jdbcType=VARCHAR},
			</if>
			<if test="auditorid != null">
				auditorId = #{auditorid,jdbcType=VARCHAR},
			</if>
			<if test="delflag != null">
				delFlag = #{delflag,jdbcType=INTEGER},
			</if>
		</set>
		where Id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.ams.finance.entity.CashFlowInfo">
		update cash_flow_info
		set infoType = #{infotype,jdbcType=INTEGER},
		money = #{money,jdbcType=INTEGER},
		description = #{description,jdbcType=VARCHAR},
		proposerId = #{proposerid,jdbcType=VARCHAR},
		applicateTime = #{applicatetime,jdbcType=VARCHAR},
		auditorId = #{auditorid,jdbcType=VARCHAR},
		delFlag = #{delflag,jdbcType=INTEGER}
		where Id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>