<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.finance.dao.CashFlowInfoDao">
	<resultMap id="BaseResultMap"
		type="com.ams.finance.entity.CashFlowInfo">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="infoType" property="infoType"
			jdbcType="INTEGER" />
		<result column="money" property="money" jdbcType="INTEGER" />
		<result column="description" property="description"
			jdbcType="VARCHAR" />
		<result column="proposerId" property="proposerId"
			jdbcType="VARCHAR" />
		<result column="applicateTime" property="applicateTime"
			jdbcType="VARCHAR" />
		<result column="auditorId" property="auditorId"
			jdbcType="VARCHAR" />
		<result column="auditFlag" property="auditFlag"
			jdbcType="INTEGER"/>
		<result column="executeFlag" property="executeFlag" jdbcType="INTEGER" />
		<result column="delFlag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, infoType, money, description, proposerId, applicateTime, auditorId,auditFlag,executeFlag,
		delFlag
	</sql>
	<select id="getInfoById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cash_flow_info
		where Id = #{id,jdbcType=VARCHAR}
		and delFlag=0
		and auditFlag=1
	</select>
	<select id="getCashFlowInfoCount" resultType="java.lang.Integer">
		select count(*)
		from cash_flow_info
		where delFlag=0
		and auditFlag=0
	</select>
	<select id="getExecuteCount" resultType="java.lang.Integer">
		select count(*)
		from cash_flow_info
		where delFlag=0
		and auditFlag!=0
	</select>
	<select id="getCashFlowInfoListCount" resultType="java.lang.Integer">
		select count(*)
		from cash_flow_info
		where delFlag=0
		and executeFlag=1
	</select>
	<select id="getpersonalAuditHistoryCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*)
		from cash_flow_info
		where delFlag=0
		and proposerId=#{id,jdbcType=VARCHAR}
	</select>
	<select id="getAuditList" resultType="com.ams.finance.entity.CashFlowInfo">
		select
		<include refid="Base_Column_List"></include>
		from cash_flow_info
		where delFlag=0
		<if test="queryInfo != null and queryInfo != ''">
			and description like concat("%",#{queryInfo},"%")
			or money like concat("%",#{queryInfo},"%")
			or applicateTime like concat("%",#{queryInfo},"%")
		</if>
		LIMIT #{offset},#{limit}
	</select>
	<select id="getExecuteList" resultType="com.ams.finance.entity.CashFlowInfo">
		select
		<include refid="Base_Column_List"></include>
		from cash_flow_info
		where delFlag=0
		and auditFlag!=0
		<if test="queryInfo != null and queryInfo != ''">
			and description like concat("%",#{queryInfo},"%")
			or money like concat("%",#{queryInfo},"%")
			or applicateTime like concat("%",#{queryInfo},"%")
		</if>
		LIMIT #{offset},#{limit}
	</select>
	<select id="getCashFlowInfoList" resultType="com.ams.finance.entity.CashFlowInfo">
		select
		<include refid="Base_Column_List"></include>
		from cash_flow_info
		where delFlag=0
		and executeFlag=1
		<if test="queryInfo != null and queryInfo != ''">
			and description like concat("%",#{queryInfo},"%")
			or money like concat("%",#{queryInfo},"%")
			or applicateTime like concat("%",#{queryInfo},"%")
		</if>
		order by applicateTime 
		LIMIT #{offset},#{limit}
	</select>
	<select id="getpersonalAuditHistory" resultType="com.ams.finance.entity.CashFlowInfo">
		select
		<include refid="Base_Column_List"></include>
		from cash_flow_info
		where delFlag=0
		and proposerId=#{id,jdbcType=VARCHAR}
		<if test="queryInfo != null and queryInfo != ''">
			and description like concat("%",#{queryInfo},"%")
			or money like concat("%",#{queryInfo},"%")
			or applicateTime like concat("%",#{queryInfo},"%")
		</if>
		LIMIT #{offset},#{limit}
	</select>
	<update id="updateApplicateRejectStatus">
		update cash_flow_info
		<set>
			auditFlag=2,
			<if test="auditorId != null and auditorId != ''">
			auditorId=#{auditorId}
			</if>
		</set>
		where delFlag=0
		and id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateApplicateCancelStatus">
		update cash_flow_info
		<set>
			auditFlag=0,
			<if test="auditorId != null and auditorId != ''">
			auditorId=#{auditorId}
			</if>
		</set>
		where delFlag=0
		and id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateApplicateAuthorizestatus">
		update cash_flow_info
		<set>
			auditFlag=1,
			<if test="auditorId != null and auditorId != ''">
			auditorId=#{auditorId}
			</if>
		</set>
		where delFlag=0
		and id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateExecuteFlag" parameterType="java.lang.String">
		update cash_flow_info
		<set>
			executeFlag=1
		</set>
		where delFlag=0
		and Id=#{id,jdbcType=VARCHAR}
	</update>
	<update id="updateCancelExecuteFlag" parameterType="java.lang.String">
		update cash_flow_info
		<set>
			executeFlag=0
		</set>
		where delFlag=0
		and Id=#{id,jdbcType=VARCHAR}
	</update>
	<insert id="insertSelective"
		parameterType="com.ams.finance.entity.CashFlowInfo">
		insert into cash_flow_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				Id,
			</if>
			<if test="infoType != null">
				infoType,
			</if>
			<if test="money != null and money != ''">
				money,
			</if>
			<if test="description != null and description != ''">
				description,
			</if>
			<if test="proposerId != null and proposerId != ''">
				proposerId,
			</if>
			<if test="applicateTime != null and applicateTime != ''">
				applicateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="infoType != null">
				#{infoType,jdbcType=INTEGER},
			</if>
			<if test="money != null and money != ''">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="description != null and description != ''">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="proposerId != null and proposerId != ''">
				#{proposerId,jdbcType=VARCHAR},
			</if>
			<if test="applicateTime != null and applicateTime != ''">
				#{applicateTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>
