<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.finance.dao.CashDao">
	<resultMap id="BaseResultMap"
		type="com.ams.finance.entity.Cash">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="INTEGER" />
		<result column="delFlag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, money, delFlag
	</sql>
	<select id="queryCurrentBalance" resultType="java.lang.Integer">
		select money
		from cash
		where Id='1'
		and delFlag=0
	</select>
	<update id="updateMoney" parameterType="java.lang.Integer">
		update cash
		set money=#{newCount,jdbcType=INTEGER}
		where id='1'
		and delFlag=0
	</update>

	

</mapper>
