<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.finance.dao.MaterialFlowInfoDao">
	<resultMap id="BaseResultMap"
		type="com.ams.finance.entity.MaterialFlowInfo">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="MaterialId" property="materialId"
			jdbcType="VARCHAR" />
		<result column="infoType" property="infoType"
			jdbcType="INTEGER" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="purpose" property="purpose" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
		<result column="organizationName" property="organizationName"
			jdbcType="VARCHAR" />
		<result column="principalName" property="principalName"
			jdbcType="VARCHAR" />
		<result column="principalPhone" property="principalPhone"
			jdbcType="VARCHAR" />
		<result column="auditorId" property="auditorId"
			jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="delFlag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, MaterialId, infoType, number, purpose, date, organizationName,
		principalName,
		principalPhone, auditorId, remarks,delFlag
	</sql>
	<select id="getMaterialsFlowInfoCount" resultType="java.lang.Integer">
	select count(*)
	from material_flow_info
	where delFlag=0
	</select>
	<select id="getMaterialFlowInfoList" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from material_flow_info
		where delFlag=0
		<if test="queryInfo != null and queryInfo !=''">
		and materialId like concat("%",#{queryInfo},"%")
			or purpose like concat("%",#{queryInfo},"%")
			or date like concat("%",#{queryInfo},"%")
			or organizationName like concat("%",#{queryInfo},"%")
			or principalName like concat("%",#{queryInfo},"%")
			or principalPhone like concat("%",#{queryInfo},"%")
			or remarks like concat("%",#{queryInfo},"%")
		</if>
		LIMIT #{offset},#{limit}
	</select>
		<insert id="insertSelective"
		parameterType="com.ams.finance.entity.MaterialFlowInfo">
		insert into material_flow_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="materialId != null">
				MaterialId,
			</if>
			<if test="infoType != null">
				infoType,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="purpose != null">
				purpose,
			</if>
			<if test="date != null">
				date,
			</if>
			<if test="organizationName != null">
				organizationName,
			</if>
			<if test="principalName != null">
				principalName,
			</if>
			<if test="principalPhone != null">
				principalPhone,
			</if>
			<if test="auditorId != null">
				auditorId,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="materialId != null">
				#{materialId,jdbcType=VARCHAR},
			</if>
			<if test="infoType != null">
				#{infoType,jdbcType=INTEGER},
			</if>
			<if test="number != null">
				#{number,jdbcType=INTEGER},
			</if>
			<if test="purpose != null">
				#{purpose,jdbcType=VARCHAR},
			</if>
			<if test="date != null">
				#{date,jdbcType=VARCHAR},
			</if>
			<if test="organizationName != null">
				#{organizationName,jdbcType=VARCHAR},
			</if>
			<if test="principalName != null">
				#{principalName,jdbcType=VARCHAR},
			</if>
			<if test="principalPhone != null">
				#{principalPhone,jdbcType=VARCHAR},
			</if>
			<if test="auditorId != null">
				#{auditorId,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

</mapper>
