<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.finance.dao.MaterialsDao">
	<resultMap id="BaseResultMap"
		type="com.ams.finance.entity.Materials">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="materialName" property="materialName"
			jdbcType="VARCHAR" />
		<result column="totalNumber" property="totalNumber"
			jdbcType="INTEGER" />
		<result column="remainNumber" property="remainNumber"
			jdbcType="INTEGER" />
		<result column="description" property="description"
			jdbcType="VARCHAR" />
		<result column="createTime" property="createTime"
			jdbcType="VARCHAR" />
		<result column="delFlag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, materialName, totalNumber, remainNumber, description, createTime, delFlag
	</sql>
	<select id="getMaterialsCount" resultType="java.lang.Integer">
		select count(*)
		from materials
		where delFlag=0
	</select>
	<select id="getMaterialsList" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from materials
		where delFlag=0
		<if test="queryInfo != null and queryInfo !=''">
		and materialName like concat("%",#{queryInfo},"%")
			or description like concat("%",#{queryInfo},"%")
			or createTime like concat("%",#{queryInfo},"%")
		</if>
	</select>
	<insert id="insertSelective"
		parameterType="com.ams.finance.entity.Materials">
		insert into materials
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				Id,
			</if>
			<if test="materialName != null and materialName != ''">
				materialName,
			</if>
			<if test="totalNumber != null and totalNumber != ''" >
				totalNumber,
			</if>
			<if test="remainNumber != null and remainNumber != ''">
				remainNumber,
			</if>
			<if test="description != null and description != ''">
				description,
			</if>
			<if test="createTime != null and createTime != ''">
				createTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="materialName != null and materialName != ''">
				#{materialName,jdbcType=VARCHAR},
			</if>
			<if test="totalNumber != null and totalNumber != ''">
				#{totalNumber,jdbcType=INTEGER},
			</if>
			<if test="remainNumber != null and remainNumber != ''">
				#{remainNumber,jdbcType=INTEGER},
			</if>
			<if test="description != null and description != ''">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null and createTime != ''">
				#{createTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from materials
		where delFlag=0
		and Id = #{id,jdbcType=VARCHAR}
	</select>
	<update id="updateMaterials"
		parameterType="com.ams.finance.entity.Materials">
		update materials
		<set>
			<if test="materialName != null and materialName !=''">
				materialName = #{materialName,jdbcType=VARCHAR},
			</if>
			<if test="totalNumber != null and totalNumber != ''">
				totalNumber = #{totalNumber,jdbcType=INTEGER},
			</if>
			<if test="remainNumber != null and remainNumber != ''">
				remainNumber = #{remainNumber,jdbcType=INTEGER},
			</if>
			<if test="description != null and description != ''">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where delFlag=0
		and Id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateMaterialsDelFlag">
		update materials
		<set>
			delFlag=1,
		</set>
		where delFlag=0
		and id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

</mapper>