<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.ams.activity.dao.ActivityParticipatorInfoDao">
	<resultMap id="BaseResultMap"
		type="com.ams.activity.entity.ActivityParticipatorInfo">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="participatorName" property="participatorName"
			jdbcType="VARCHAR" />
		<result column="participatorDigits"
			property="participatorDigits" jdbcType="VARCHAR" />
		<result column="participatorDepartment"
			property="participatorDepartment" jdbcType="VARCHAR" />
		<result column="participatorClass" property="participatorClass"
			jdbcType="VARCHAR" />
		<result column="activityId" property="activityId"
			jdbcType="VARCHAR" />
		<result column="delFlag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, participatorName, participatorDigits, participatorDepartment,
		participatorClass,
		activityId, delFlag
	</sql>
	<select id="duplicateChecking" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from activity_participator_info
		where delFlag=0
		and participatorDigits=#{digits,jdbcType=VARCHAR}
		and activityId=#{activityId,jdbcType=VARCHAR}
	</select>
	<select id="getApplyListById" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
			from activity_participator_info
			where delFlag=0
			and activityId=#{id,jdbcType=VARCHAR}
	</select>
	
	<insert id="insert"
		parameterType="com.ams.activity.entity.ActivityParticipatorInfo">
		insert into activity_participator_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="participatorName != null">
				participatorName,
			</if>
			<if test="participatorDigits != null">
				participatorDigits,
			</if>
			<if test="participatorDepartment != null">
				participatorDepartment,
			</if>
			<if test="participatorClass != null">
				participatorClass,
			</if>
			<if test="activityId != null">
				activityId,
			</if>
			<if test="delFlag != null">
				delFlag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="participatorName != null">
				#{participatorName,jdbcType=VARCHAR},
			</if>
			<if test="participatorDigits != null">
				#{participatorDigits,jdbcType=VARCHAR},
			</if>
			<if test="participatorDepartment != null">
				#{participatorDepartment,jdbcType=VARCHAR},
			</if>
			<if test="participatorClass != null">
				#{participatorClass,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				#{activityId,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>