<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.user.dao.MemberApplicateInfoDao">
	<resultMap id="BaseResultMap"
		type="com.ams.user.entity.MemberApplicateInfo">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="digits" property="digits" jdbcType="VARCHAR" />
		<result column="department" property="department"
			jdbcType="VARCHAR" />
		<result column="major" property="major" jdbcType="VARCHAR" />
		<result column="belongClass" property="belongClass"
			jdbcType="VARCHAR" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="applicateSection" property="applicateSection"
			jdbcType="VARCHAR" />
		<result column="applicateJob" property="applicateJob"
			jdbcType="VARCHAR" />
		<result column="applicateFlag" property="applicateFlag"
			jdbcType="INTEGER" />
		<result column="applicateTime" property="applicateTime"
			jdbcType="VARCHAR" />
		<result column="delFlag" property="delFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, name, digits, department, major, belongClass, grade, phone, email,
		applicateSection,
		applicateJob, applicateFlag, applicateTime, delFlag
	</sql>
	<select id="getMemberApplicateInfoByDigit" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from member_applicate_info
		where delFlag=0
		and digits = #{digits,jdbcType=VARCHAR}
	</select>
	<select id="getAllApplicateCount" resultType="java.lang.Integer">
		select count(*)
		from member_applicate_info
		where delFlag=0
	</select>
	<select id="getAllApplicateInfoList"
		resultType="com.ams.user.entity.MemberApplicateInfo">
		select
		<include refid="Base_Column_List"></include>
		from member_applicate_info
		where delFlag=0
		<if test="queryInfo != null and queryInfo != ''">
			and name like concat(#{queryInfo},"%")
			or digits like concat(#{queryInfo},"%")
			or major like concat(#{queryInfo},"%")
			or belongClass like concat(#{queryInfo},"%")
			or grade like concat(#{queryInfo},"%")
			or applicateSection like concat(#{queryInfo},"%")
			or applicateJob like concat(#{queryInfo},"%")
			or applicateTime like concat(#{queryInfo},"%")
		</if>
		limit #{offset},#{limit}
	</select>
	<update id="updateApplicateSuccessStatus" parameterType="java.util.List">
		update member_applicate_info
		<set>
			applicateFlag=1
		</set>
		where delFlag=0
		and id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateApplicateFailStatus" parameterType="java.util.List">
		update member_applicate_info
		<set>
			applicateFlag=2
		</set>
		where delFlag=0
		and id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<insert id="insertSelective"
		parameterType="com.ams.user.entity.MemberApplicateInfo">
		insert into member_applicate_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="digits != null">
				digits,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="major != null">
				major,
			</if>
			<if test="belongClass != null">
				belongClass,
			</if>
			<if test="grade != null">
				grade,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="applicateSection != null">
				applicateSection,
			</if>
			<if test="applicateJob != null">
				applicateJob,
			</if>
			<if test="applicateFlag != null">
				applicateFlag,
			</if>
			<if test="applicateTime != null">
				applicateTime,
			</if>
			<if test="delFlag != null">
				delFlag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="digits != null">
				#{digits,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				#{major,jdbcType=VARCHAR},
			</if>
			<if test="belongClass != null">
				#{belongClass,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="applicateSection != null">
				#{applicateSection,jdbcType=VARCHAR},
			</if>
			<if test="applicateJob != null">
				#{applicateJob,jdbcType=VARCHAR},
			</if>
			<if test="applicateFlag != null">
				#{applicateFlag,jdbcType=INTEGER},
			</if>
			<if test="applicateTime != null">
				#{applicateTime,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>